{% extends 'base.html.twig' %}

{% block title %}Inventory
{% endblock %}

{% block content %}

	<div class="conatiner-fluid content-inner mt-n5 py-0">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-wrap align-items-center justify-content-between">
							<div class="d-flex flex-wrap align-items-center">
								<div class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1">
									{% if item.ticketGenre is defined and item.ticketGenre != "" %}
										{% set avatar = 'images/events/' ~ item.ticketGenre|sanitizeTicketGenreAsset ~ '.png' %}
									{% else %}
										{% set avatar = 'images/events/Concert_Tickets.png' %}
									{% endif %}
									<img src="{{ asset(avatar) }}" alt="ticket genre" class="theme-color-default-img img-fluid rounded-pill avatar-100">
								</div>
								<div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
									<h4 class="me-2 h4">
										<span class="quantity-remain">{{ item.quantityRemain }}</span>
										Remaining Tickets -
									</h4>
									{{ statusHtml|raw }}
								</div>
							</div>
							<div class="dropdown">
								<a href="#" class="btn btn-primary dropdown-toggle" id="markAsDropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
									Mark As
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="markAsDropdownBtn">
									<li id="markAsSoldout" data-bs-toggle="modal" data-bs-target="#markSoldModal" class="dropdown-item {{ item.status == 'Soldout' ? 'hidden' : '' }}">Sold</li>
									<li id="markAsActive" data-bs-toggle="modal" data-bs-target="#markListedModal" class="dropdown-item {{ item.status == 'Active' ? 'hidden' : '' }}">Listed</li>
									<li id="markAsInactive" data-bs-toggle="modal" data-bs-target="#markNotListedModal" class="dropdown-item {{ item.status == 'Inactive' ? 'hidden' : '' }}">Not Listed</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-sm-7">
						<div class="card bg-soft-danger">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<div>
										<span>
											<b>Spent</b>
										</span>
										<div class="mt-2">
											<h2 class="counter">
												<span class="total-cost">{{ formatAmountArrayAsSymbol(item.totalCost) }}</span>
											</h2>
										</div>
									</div>
									<div>
										<span class="badge bg-danger">On this item</span>
									</div>
								</div>
							</div>
						</div>
						<div class="card bg-soft-success">
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<div>
										<span>
											<b>Revenue</b>
										</span>
										<div class="mt-2">
											<h2 class="counter">
												<span class="total-payout">{{ formatAmountArrayAsSymbol(item.totalPayout) }}</span>
											</h2>
										</div>
									</div>
									<div>
										<span class="total-payout-title badge bg-success">{{ item.status == 'Soldout' ? 'Generated' : 'Expected' }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="card card d-none d-md-block {{ " N/A" != itemRoi ? '' : 'hidden' }}">
							<div class="card-body">
								<div class="d-flex flex-column align-items-between">
									<div>
										<div class="d-flex">
											<div class="bg-info text-white p-3 rounded">
												<svg class="icon-48" width="48" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M7.24512 14.7815L10.2383 10.8914L13.6524 13.5733L16.5815 9.79297" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
													<circle cx="19.9954" cy="4.20027" r="1.9222" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
													<path d="M14.9248 3.12012H7.65704C4.6456 3.12012 2.77832 5.25284 2.77832 8.26428V16.3467C2.77832 19.3581 4.60898 21.4817 7.65704 21.4817H16.2612C19.2726 21.4817 21.1399 19.3581 21.1399 16.3467V9.30776" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
												</svg>
											</div>
										</div>
									</div>
									<div class="mt-3">
										<span>
											<i data-bs-toggle="tooltip" data-bs-placement="top" title="Formula: [(Net Amount - Investment) / Investment] * 100" class="fa-solid fa-circle-info"></i>
											ROI</span>
										<div>
											<h3 class="counter {{itemRoi >= 0 ? 'text-success' : 'text-danger'}}">
												<span class="roi">{{ itemRoi }}</span>%</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card listing-details {{'Active' == item.status and 'Viagogo' == item.platform ? '' : 'hidden'}}">
					<div class="card-header">
						<div class="header-title">
							<h4 class="card-title">Listing Details
								<a href="#!" id="openEditListingModal" data-event-id="{{ item.viagogoEventId }}" data-quantity="{{ item.quantityRemain }}">
									<svg class="icon-32" width="32" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</a>
							</h4>
						</div>
					</div>
					<div class="card-body">
						<p>
							<b>Platform:</b>
							<span class="platform">{{ item.platform }}</span>
						</p>
						<p>
							<b>Your Price:</b>
							<span class="your-price-per-ticket">{{ formatAmountArrayAsSymbol(item.yourPricePerTicket) }}
								per Ticket.</span>
						</p>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<div class="header-title">
							<h4 class="card-title">Item Details
								<a href="#!" id="openEditItemModal" data-event-id="{{ item.viagogoEventId }}">
									<svg class="icon-32" width="32" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</a>
							</h4>
						</div>
					</div>
					<div class="card-body">
						<p>Section:
							<span class="section">{{ item.section }}</span>
						</p>
						<p>Quantity:
							<span class="quantity">{{ item.quantity }}</span>
						</p>
						<p>Seats:
							<span class="seat-from">{{ item.seatFrom }}</span>
							-
							<span class="seat-to">{{ item.seatTo }}</span>
						</p>
						<p>Retailer:
							<span class="retailer">{{ item.retailer }}</span>
						</p>
						<p>Cost per ticket:
							<span class="cost-per-ticket">{{ formatAmountArrayAsSymbol(item.individualTicketCost) }}</span>
						</p>
						<p>Total:
							<span class="total-cost">{{ formatAmountArrayAsSymbol(item.totalCost) }}</span>
						</p>
						<p>Order Number:
							<span class="order-number">{{ item.orderNumber }}</span>
						</p>
						<p>Order Email:
							<span class="order-email">{{ item.orderEmail }}</span>
						</p>
						<p>Ticket Type:
							<span class="ticket-type">{{ item.ticketTypeAsString }}</span>
						</p>
						<p>Purchase Date:
							<span class="purchase-date">{{ item.purchaseDate|format_date(pattern='full', locale=app.request.locale, timezone=null) }}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-md-12">
						<div class="card aos-init aos-animate" data-aos="fade-up" data-aos-delay="1000">
							<div class="flex-wrap card-header d-flex justify-content-between">
								<div class="mt-3 header-title">
									<h4 class="card-title">
										<i data-bs-toggle="tooltip" data-bs-placement="top" title="Real-time data from Viagogo" class="fa-solid fa-circle-info"></i>
										Sections Prices</h4>
								</div>
								<div class="mt-3 text-black-50 text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Our Floor Price Rating" id="floorPriceRating"></div>
							</div>
							<div class="card-body">
								<div id="d-floor-prices" class="d-activity" event-id="{{ item.viagogoEventId }}" style="min-height: 245px;"></div>
							</div>
						</div>
						<div class="card">
							<div class="card-header d-flex justify-content-between">
								<div class="header-title">
									<h4 class="card-title">Timeline</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
									<ul class="list-inline p-0 m-0">
										<li class="purchase-timeline {{ null != item.purchaseDate ? '' : 'hidden' }}">
											<div class="timeline-dots1 border-primary text-primary">
												<svg class="icon-20" width="20" viewbox="0 0 24 24">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M21.7872 10.539C21.6518 10.6706 21.4681 10.7457 21.2747 10.7457C20.559 10.7457 19.9787 11.3095 19.9787 11.9953C19.9787 12.6858 20.5522 13.2467 21.2611 13.2543C21.6605 13.258 22 13.5286 22 13.9166V16.3265C22 18.3549 20.3075 20 18.2186 20H15.0658C14.7398 20 14.4758 19.7435 14.4758 19.4269V17.3975C14.4758 17.0029 14.1567 16.6929 13.7505 16.6929C13.354 16.6929 13.0251 17.0029 13.0251 17.3975V19.4269C13.0251 19.7435 12.7611 20 12.4362 20H5.78143C3.70213 20 2 18.3558 2 16.3265V13.9166C2 13.5286 2.33946 13.258 2.73888 13.2543C3.44874 13.2467 4.02128 12.6858 4.02128 11.9953C4.02128 11.3282 3.46035 10.8209 2.72534 10.8209C2.53191 10.8209 2.34816 10.7457 2.21277 10.6142C2.07737 10.4827 2 10.3042 2 10.1163V7.68291C2 5.65731 3.706 4 5.7911 4H12.4362C12.7611 4 13.0251 4.25649 13.0251 4.57311V6.97827C13.0251 7.36348 13.354 7.68291 13.7505 7.68291C14.1567 7.68291 14.4758 7.36348 14.4758 6.97827V4.57311C14.4758 4.25649 14.7398 4 15.0658 4H18.2186C20.3075 4 22 5.64416 22 7.67352V10.0411C22 10.229 21.9226 10.4075 21.7872 10.539ZM13.7505 14.8702C14.1567 14.8702 14.4758 14.5508 14.4758 14.1656V10.4075C14.4758 10.0223 14.1567 9.70288 13.7505 9.70288C13.354 9.70288 13.0251 10.0223 13.0251 10.4075V14.1656C13.0251 14.5508 13.354 14.8702 13.7505 14.8702Z" fill="currentColor"></path>
												</svg>
											</div>
											<h6 class="float-left mb-1">Purchased
												{{ item.quantity }}
												Tickets
												<a href="#!" data-bs-toggle="modal" data-bs-target="#updateItemModal">
													<svg class="icon-24" width="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
														<path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
												</a>
											</h6>
											<small class="float-right mt-1">on
												<span class="purchase-date">{{ item.purchaseDate|format_date(pattern='full', locale=app.request.locale, timezone=null) }}</span>
											</small>
											<div class="d-inline-block w-100">
												<p>for
													<span class="total-cost">{{ formatAmountArrayAsSymbol(item.totalCost) }}</span>.</p>
											</div>
										</li>
										<li class="listed-timeline {{ null != item.platform and item.platform in ['Soldout', 'Active'] ? '' : 'hidden' }} ?>">
											<div class="timeline-dots1 border-primary text-primary">
												<svg class="icon-20" width="20" viewbox="0 0 24 24">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M7.81 2H16.191C19.28 2 21 3.78 21 6.83V17.16C21 20.26 19.28 22 16.191 22H7.81C4.77 22 3 20.26 3 17.16V6.83C3 3.78 4.77 2 7.81 2ZM8.08 6.66V6.65H11.069C11.5 6.65 11.85 7 11.85 7.429C11.85 7.87 11.5 8.22 11.069 8.22H8.08C7.649 8.22 7.3 7.87 7.3 7.44C7.3 7.01 7.649 6.66 8.08 6.66ZM8.08 12.74H15.92C16.35 12.74 16.7 12.39 16.7 11.96C16.7 11.53 16.35 11.179 15.92 11.179H8.08C7.649 11.179 7.3 11.53 7.3 11.96C7.3 12.39 7.649 12.74 8.08 12.74ZM8.08 17.31H15.92C16.319 17.27 16.62 16.929 16.62 16.53C16.62 16.12 16.319 15.78 15.92 15.74H8.08C7.78 15.71 7.49 15.85 7.33 16.11C7.17 16.36 7.17 16.69 7.33 16.95C7.49 17.2 7.78 17.35 8.08 17.31Z" fill="currentColor"></path>
												</svg>
											</div>
											<h6 class="float-left mb-1">Listed on
												<span class="platform">{{ item.platform }}</span>
											</h6>
											<small class="float-right mt-1">for a price of
												<span class="your-price-per-ticket">{{ formatAmountArrayAsSymbol(item.yourPricePerTicket) }}</span>
												per Ticket.</small>
										</li>
										<li class="sold-timeline {{ null != item.saleDate and item.status == 'Soldout' ? '' : 'hidden'}}">
											<div class="timeline-dots1 border-success text-success">
												<i class="icon fa-solid fa-sack-dollar"></i>
											</div>
											<h6 class="float-left mb-1">Sold all
												{{ item.quantity }}
												Tickets</h6>
											<small class="float-right mt-1">on
												{{ item.saleDate != null ? item.saleDate|format_date(pattern='full', locale=app.request.locale, timezone=null) : '' }}</small>
											<div class="d-inline-block w-100">
												<p>for
													<span class="total-payout">{{ formatAmountArrayAsSymbol(item.totalPayout) }}</span>.</p>
											</div>
										</li>
										<li class="sale-end-date-timeline {{ null != item.saleEndDate ? '' : 'hidden' }}">
											<div class="timeline-dots1 border-danger text-danger">
												<svg class="icon-20" width="20" viewbox="0 0 24 24">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4773 4.44209L21.746 17.0572C21.906 17.4338 21.976 17.7399 21.996 18.058C22.036 18.8012 21.776 19.5236 21.2661 20.0795C20.7562 20.6334 20.0663 20.9604 19.3164 21H4.6789C4.36896 20.9812 4.05901 20.9108 3.76906 20.8018C2.3193 20.2172 1.61942 18.5723 2.20932 17.1464L9.52809 4.43317C9.77804 3.98628 10.158 3.60082 10.6279 3.35309C11.9877 2.59902 13.7174 3.09447 14.4773 4.44209ZM12.8675 12.7557C12.8675 13.2314 12.4776 13.6287 11.9977 13.6287C11.5178 13.6287 11.1178 13.2314 11.1178 12.7557V9.95248C11.1178 9.47585 11.5178 9.09039 11.9977 9.09039C12.4776 9.09039 12.8675 9.47585 12.8675 9.95248V12.7557ZM11.9977 17.0176C11.5178 17.0176 11.1178 16.6202 11.1178 16.1456C11.1178 15.669 11.5178 15.2726 11.9977 15.2726C12.4776 15.2726 12.8675 15.6601 12.8675 16.1347C12.8675 16.6202 12.4776 17.0176 11.9977 17.0176Z" fill="currentColor"></path>
												</svg>
											</div>
											<h6 class="float-left mb-1">Sale Ends On</h6>
											<small class="float-right mt-1">
												{{ item.saleEndDate != null ? item.saleEndDate|format_date(pattern='full', locale=app.request.locale, timezone=null) : '' }}</small>
										</li>
									</small>
								</li>
								<li class="event-date-timeline {{ null != item.eventDate ? '' : 'hidden' }}">
									<div class="timeline-dots1 border-warning text-warning">
										<svg class="icon-20" width="20" viewbox="0 0 24 24">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M16.4109 2.76862L16.4119 3.51824C19.1665 3.73413 20.9862 5.61119 20.9891 8.48975L21 16.9155C21.0039 20.054 19.0322 21.985 15.8718 21.99L8.15188 22C5.01119 22.004 3.01482 20.027 3.01087 16.8795L3.00001 8.55272C2.99606 5.65517 4.75153 3.78311 7.50617 3.53024L7.50518 2.78061C7.5042 2.34083 7.83001 2.01 8.26444 2.01C8.69886 2.009 9.02468 2.33883 9.02567 2.77861L9.02666 3.47826L14.8914 3.47027L14.8904 2.77062C14.8894 2.33084 15.2152 2.001 15.6497 2C16.0742 1.999 16.4099 2.32884 16.4109 2.76862ZM4.52148 8.86157L19.4696 8.84158V8.49175C19.4272 6.34283 18.349 5.21539 16.4138 5.04748L16.4148 5.81709C16.4148 6.24688 16.0801 6.5877 15.6556 6.5877C15.2212 6.5887 14.8943 6.24887 14.8943 5.81909L14.8934 5.0095L9.02863 5.01749L9.02962 5.82609C9.02962 6.25687 8.70479 6.5967 8.27036 6.5967C7.83594 6.5977 7.50913 6.25887 7.50913 5.82809L7.50815 5.05847C5.58286 5.25137 4.51753 6.38281 4.52049 8.55072L4.52148 8.86157ZM15.2399 13.4043V13.4153C15.2498 13.8751 15.625 14.2239 16.0801 14.2139C16.5244 14.2029 16.8789 13.8221 16.869 13.3623C16.8483 12.9225 16.4918 12.5637 16.0485 12.5647C15.5944 12.5747 15.2389 12.9445 15.2399 13.4043ZM16.0554 17.892C15.6013 17.882 15.235 17.5032 15.234 17.0435C15.2241 16.5837 15.5884 16.2029 16.0426 16.1919H16.0525C16.5165 16.1919 16.8927 16.5707 16.8927 17.0405C16.8937 17.5102 16.5185 17.891 16.0554 17.892ZM11.1721 13.4203C11.1919 13.8801 11.568 14.2389 12.0222 14.2189C12.4665 14.1979 12.821 13.8181 12.8012 13.3583C12.7903 12.9085 12.425 12.5587 11.9807 12.5597C11.5266 12.5797 11.1711 12.9605 11.1721 13.4203ZM12.0262 17.8471C11.572 17.8671 11.1968 17.5082 11.1761 17.0485C11.1761 16.5887 11.5305 16.2089 11.9847 16.1879C12.429 16.1869 12.7953 16.5367 12.8052 16.9855C12.8259 17.4463 12.4705 17.8261 12.0262 17.8471ZM7.10433 13.4553C7.12408 13.915 7.50025 14.2749 7.95442 14.2539C8.39872 14.2339 8.75317 13.8531 8.73243 13.3933C8.72256 12.9435 8.35725 12.5937 7.91196 12.5947C7.45779 12.6147 7.10334 12.9955 7.10433 13.4553ZM7.95837 17.8521C7.5042 17.8731 7.12901 17.5132 7.10828 17.0535C7.10729 16.5937 7.46273 16.2129 7.9169 16.1929C8.3612 16.1919 8.7275 16.5417 8.73737 16.9915C8.7581 17.4513 8.40365 17.8321 7.95837 17.8521Z" fill="currentColor"></path>
										</svg>
									</div>
									<h6 class="float-left mb-1">Event Date</h6>
									<small class="float-right mt-1">
										{{ item.eventDate != null ? item.eventDate|format_date(pattern='full', locale=app.request.locale, timezone=null) : '' }}</small>
								</li>
							</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% include 'modals/edit_item.html.twig' %}
	{% include 'modals/edit_listing.html.twig' %}
	{% include 'modals/mark_item_as_sold.html.twig' %}
	{% include 'modals/mark_item_as_listed.html.twig' %}
	{% include 'modals/mark_item_as_not_listed.html.twig' %}
{% endblock %}
