{% extends 'base.html.twig' %}

{% block title %}Settings
{% endblock %}

{% block content %}
	<div class="conatiner-fluid content-inner py-0" style="margin-top: 40px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-header d-flex justify-content-between">
							<div class="header-title">
								<h4 class="card-title">Backup</h4>
							</div>
						</div>
						<div class="card-body">
							<p>Export your data.</p>
							{{ form(exportForm) }}
							</div>
						</div>
						<div class="card">
							<div class="card-header d-flex justify-content-between">
								<div class="header-title">
									<h4 class="card-title">Restore</h4>
								</div>
							</div>
							<div class="card-body">
								<p>Import your inventory from a local backup.</p>
								{{ form_start(importInventoryForm, {'attr': {'id': 'restoreForm'}}) }}
								{{ form_end(importInventoryForm) }}
								<hr>
								<p>Import your settings from the cloud.</p>
								{{ form(importSettingsForm) }}
								<hr>
								<h4 class="card-title">Your Backups</h4>
								<div class="mt-4 table-responsive">
									<table id="backupsTable" class="table table-striped mb-0" role="grid" data-toggle="table" data-url="/api/user/backups" data-side-pagination="server" data-loading-template="loadingTemplate">
										<thead>
											<tr>
												<th data-field="timestamp">Created at</th>
												<th data-field="actions">Actions</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header d-flex justify-content-between">
								<div class="header-title">
									<h4 class="card-title">Account Setting</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="acc-edit">
									{{ form(settingsForm) }}
									</div>
								</div>
								<div class="card-body">
									<div class="acc-edit">
										{{ form(passwordForm) }}
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header d-flex justify-content-between">
										<div class="header-title">
											<h4 class="card-title">Connections</h4>
										</div>
									</div>
									<div class="card-body">
										<div class="acc-edit">
											{{ form(connectionsForm) }}
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header d-flex justify-content-between">
											<div class="header-title">
												<h4 class="card-title">About Me</h4>
											</div>
										</div>
										<div class="card-body">
											<p>Choose a bio for your public profile.</p>
											{{ form(aboutForm) }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'modals/confirm_restore.html.twig' %}
	{% include 'modals/delete_backup.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/settings.js') }}"></script>
	<script src="{{ asset('js/backups.js') }}"></script>
{% endblock %}
