{% block editItemModal %}

	<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="updateModalLabel">Edit Item Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(editInventoryItemForm) }}
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.quantity) }}
									{{ form_widget(editInventoryItemForm.quantity) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.retailer) }}
									{{ form_widget(editInventoryItemForm.retailer) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.section ) }}
									{{ form_widget(editInventoryItemForm.section, {'id' : 'editItemSectionSelect'}) }}
									{{ form_widget(editInventoryItemForm.customSection) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.row) }}
									{{ form_widget(editInventoryItemForm.row) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.seatFrom) }}
									{{ form_widget(editInventoryItemForm.seatFrom) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.seatTo) }}
									{{ form_widget(editInventoryItemForm.seatTo) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.ticketType) }}
									{{ form_widget(editInventoryItemForm.ticketType) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.ticketCost) }}
									{{ form_widget(editInventoryItemForm.ticketCost) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.orderNumber) }}
									{{ form_widget(editInventoryItemForm.orderNumber) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(editInventoryItemForm.orderEmail) }}
									{{ form_widget(editInventoryItemForm.orderEmail) }}
								</div>
							</div>
						</div>
					</div>
					{{ form_row(editInventoryItemForm.purchaseDate) }}
					<div class="modal-footer">
						<button type="button" class="btn btn-soft-secondary" data-bs-dismiss="modal">Cancel</button>
						{{ form_widget(editInventoryItemForm.submit) }}
					</div>
					{{ form_end(editInventoryItemForm, {render_rest: false}) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
