{% block markItemAsListed %}

	<div class="modal fade" id="markListedModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="markListedModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="markListedModalLabel">Mark Item as Listed</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(markItemAsListedForm, {'attr': {'id' : 'markListedForm', 'class' : 'mt-3 text-center prevent-submission', 'onsubmit': 'return quickEdit(this)'}}) }}
					{{ form_widget(markItemAsListedForm.status) }}
					{{ form_widget(markItemAsListedForm.id) }}
					{{ form_widget(markItemAsListedForm.quantity) }}
					{{ form_widget(markItemAsListedForm.quantityRemain) }}
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(markItemAsListedForm.platform) }}
									{{ form_widget(markItemAsListedForm.platform) }}
									{{ form_widget(markItemAsListedForm.customPlatform) }}
								</div>
								{{ form_help(markItemAsListedForm.platform) }}
							</div>
							<div class="col-md-6">
								<div class="hidden form-group" id="splitTypeContainer">
									{{ form_label(markItemAsListedForm.splitType) }}
									{{ form_widget(markItemAsListedForm.splitType, {'id' : 'markListedSplitType'}) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="col-md-12">
								<div class="form-group">
									{{ form_label(markItemAsListedForm.yourPricePerTicket) }}
									<div class="input-group">
										{{ form_widget(markItemAsListedForm.yourPricePerTicketCurrency) }}
										{{ form_widget(markItemAsListedForm.yourPricePerTicket) }}
									</div>
									{{ form_help(markItemAsListedForm.yourPricePerTicket) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="hidden form-group restrictionsContainer">
								{{ form_label(markItemAsListedForm.restrictions) }}
								{{ form_widget(markItemAsListedForm.noRestrictions) }}
								{{ form_widget(markItemAsListedForm.restrictions) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row d-flex">
							<div class="hidden form-group ticketDetailsContainer">
								{{ form_label(markItemAsListedForm.ticketDetails) }}
								{{ form_widget(markItemAsListedForm.ticketDetails) }}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-soft-secondary" data-bs-dismiss="modal">Cancel</button>
						{{ form_widget(markItemAsListedForm.submit, {'id':'markListedBtn'}) }}
					</div>
					{{ form_end(markItemAsListedForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
