<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			Mind Solutions | Web App

		</title>

		{# Favicon #}
		<link
		rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon"/>

		{# Library / Plugin Css Build #}
		<link
		rel="stylesheet" href="{{ asset('css/core/libs.min.css') }}"/>

		{# Aos Animation Css #}
		<link
		rel="stylesheet" href="{{ asset('vendor/aos/dist/aos.css') }}"/>

		{# Hope Ui Design System Css #}
		<link
		rel="stylesheet" href="{{ asset('css/hope-ui.min.css') }}"/>

		{# Custom Css #}
		<link
		rel="stylesheet" href="{{ asset('css/custom.min.css') }}"/>

		{# Dark Css #}
		<link
		rel="stylesheet" href="{{ asset('css/dark.min.css') }}"/>

		{# Customizer Css #}
		<link
		rel="stylesheet" href="{{ asset('css/customizer.min.css') }}"/>

		{# RTL Css #}
		<link rel="stylesheet" href="{{ asset('css/rtl.min.css') }}"/>

		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

		{# Fullcalender CSS #}
		<link rel="stylesheet" href="{{ asset('vendor/fullcalendar/core/main.css') }}"/>
		<link rel="stylesheet" href="{{ asset('vendor/fullcalendar/daygrid/main.css') }}"/>
		<link rel="stylesheet" href="{{ asset('vendor/fullcalendar/timegrid/main.css') }}"/>
		<link
		rel="stylesheet" href="{{ asset('vendor/fullcalendar/list/main.css') }}"/>

		{# Webpack compiled files #}
		<script src="{{ asset('js/api.js') }}"></script>
		<script src="{{ asset('js/custom-functions.js') }}"></script>
		<script src="{{ asset('js/bs_tables.js') }}"></script>
		<script src="{{ asset('js/captcha.js') }}"></script>
		<script src="{{ asset('js/auth.js') }}"></script>
		<script src="{{ asset('js/dashboard.js') }}"></script>
		<script src="{{ asset('js/events.js') }}"></script>
		<script src="{{ asset('js/inventory.js') }}"></script>
		<script src="{{ asset('js/releases.js') }}"></script>
		<script src="{{ asset('js/settings.js') }}"></script>
		<script src="{{ asset('js/viagogo.js') }}"></script>
		<script src="{{ asset('js/listings.js') }}"></script>
		<script src="https://kit.fontawesome.com/f4362b7dfa.js" crossorigin="anonymous"></script>
	</head>

	<body>
		{# loader Start #}
		<div id="loading">
			<div class="loader simple-loader">
				<div class="loader-body"></div>
			</div>
		</div>
		{# loader END #}

		{# sidebar START #}
		{% include 'sidebar.html.twig' %}
		{# sidebar END #}

		<main class="main-content">
			<div
				class="position-relative iq-banner">
				<!--Nav Start-->
				<nav class="nav navbar navbar-expand-lg navbar-light iq-navbar">
					<div class="container-fluid navbar-inner">
						<a
							href="/" class="navbar-brand">

							<!--Logo start-->
							<div class="logo-main">
								<div class="logo-normal">
									<img class="text-primary icon-30" src="{{ asset('images/mindsolutions/logo.svg') }}" alt="">
								</div>
								<div class="logo-mini">
									<img class="text-primary icon-30" src="{{ asset('images/mindsolutions/logo.svg') }}" alt="">
								</div>
							</div>
							<!--logo End-->

							<h4 class="logo-title">{{ site_name }}</h4>
						</a>
						<div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
							<i class="icon">
								<svg width="20px" class="icon-20" viewbox="0 0 24 24">
									<path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"/>
								</svg>
							</i>
						</div>
						{% if user is defined and user.getLicenseKey() is not null %}
							<div class="container-fluid search-container">
								<div class="row">
									<div class="input-group search-input col-md-6" style="padding: 0;">
										<span class="input-group-text" id="search-input">
											<svg class="icon-18" width="18" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
												<path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
										</span>
										<input id="searchInput" type="search" class="form-control" placeholder="Search an event...">
									</div>
								</div>
								<div class="row">
									<div class="dropdown">
										<div
											id="searchResultsDropdown" class="dropdown-menu" aria-labelledby="search-input" style="left: 0; flex-direction: column;"><!-- Search results will be displayed here -->
										</div>
									</div>
								</div>
							</div>
						{% endif %}

						{% if solverBalance is defined %}
							<div class="solver-balance d-flex" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Your {{ captchaProvider.getName() }} balance">
								<span style="margin-right: 8px;">
									<svg height="24" version="1.1" viewbox="0 0 20 20" width="24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g id="layer1">
											<path d="M 6.5 1 A 6.5 6.5 0 0 0 0 7.5 A 6.5 6.5 0 0 0 6.5 14 A 6.5 6.5 0 0 0 13 7.5 A 6.5 6.5 0 0 0 6.5 1 z M 6.5 2 A 5.5 5.5 0 0 1 12 7.5 A 5.5 5.5 0 0 1 6.5 13 A 5.5 5.5 0 0 1 1 7.5 A 5.5 5.5 0 0 1 6.5 2 z M 6 4 L 6 5 C 5.177495 5 4.5 5.677495 4.5 6.5 C 4.5 7.322505 5.177495 8 6 8 L 7 8 C 7.282065 8 7.5 8.217935 7.5 8.5 C 7.5 8.782065 7.282065 9 7 9 L 6 9 L 4.5 9 L 4.5 10 L 6 10 L 6 11 L 7 11 L 7 10 C 7.822504 10 8.5 9.322505 8.5 8.5 C 8.5 7.677495 7.822504 7 7 7 L 6 7 C 5.717935 7 5.5 6.782065 5.5 6.5 C 5.5 6.217935 5.717935 6 6 6 L 7 6 L 8.5 6 L 8.5 5 L 7 5 L 7 4 L 6 4 z M 13.851562 6.0175781 C 13.917903 6.3459879 13.954929 6.6832329 13.976562 7.0253906 C 16.790577 7.267363 19 9.6232872 19 12.5 C 19 15.537566 16.537566 18 13.5 18 C 11.255696 18 9.3278145 16.653823 8.4726562 14.726562 C 8.1476973 14.815637 7.8153176 14.885044 7.4746094 14.929688 C 8.4374925 17.314715 10.77003 19 13.5 19 C 17.089851 19 20 16.089851 20 12.5 C 20 9.0289309 17.27678 6.2014281 13.851562 6.0175781 z M 13.849609 9 C 13.704848 9.7079885 13.454794 10.379092 13.125 11 L 14 11 L 15.5 11 L 15.5 10 L 14 10 L 14 9 L 13.849609 9 z M 12.619141 11.818359 C 12.425617 12.091462 12.211734 12.34917 11.984375 12.59375 C 12.252738 12.843286 12.608526 13 13 13 L 14 13 C 14.282065 13 14.5 13.217935 14.5 13.5 C 14.5 13.782065 14.282065 14 14 14 L 13 14 L 11.5 14 L 11.5 15 L 13 15 L 13 16 L 14 16 L 14 15 C 14.822504 15 15.5 14.322505 15.5 13.5 C 15.5 12.677495 14.822504 12 14 12 L 13 12 C 12.842293 12 12.709869 11.92773 12.619141 11.818359 z " style="fill: currentColor; fill-opacity:1; stroke:none; stroke-width:0px;"/>
										</g>
									</svg>
								</span>
								<span class="{{ solverBalance > 0 ? 'text-success' : 'text-danger' }}">{{ solverBalanceFormatted }}</span>
							</div>
						{% endif %}

						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon">
								<span class="mt-2 navbar-toggler-bar bar1"></span>
								<span class="navbar-toggler-bar bar2"></span>
								<span class="navbar-toggler-bar bar3"></span>
							</span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
								{% if cookie.viagogoSessionId is defined %}
									<li class="nav-item">
										<svg class="syncViagogoListings" enable-background="new 0 0 32 32" height="28px" id="Layer_1" version="1.1" viewbox="0 0 32 32" width="28px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Sync Viagogo">
											<g>
												<path d="M25.444,4.291c0,0-1.325,1.293-2.243,2.201C18.514,3.068,11.909,3.456,7.676,7.689   c-2.47,2.47-3.623,5.747-3.484,8.983h4C8.051,14.46,8.81,12.205,10.5,10.514c2.663-2.663,6.735-3.043,9.812-1.162   c-1.042,1.032-2.245,2.238-2.245,2.238c-0.841,1.009,0.104,1.592,0.584,1.577l5.624-0.001c0.297,0,0.539,0.001,0.539,0.001   s0.245,0,0.543,0h1.092c0.298,0,0.54-0.243,0.54-0.541V4.895C27.023,4.188,26.247,3.502,25.444,4.291z" fill="#3a57e8"/>
												<path d="M6.555,27.709c0,0,1.326-1.293,2.243-2.201c4.688,3.424,11.292,3.036,15.526-1.197   c2.47-2.471,3.622-5.747,3.484-8.983h-4.001c0.142,2.211-0.617,4.467-2.308,6.159c-2.663,2.662-6.735,3.043-9.812,1.161   c1.042-1.032,2.245-2.238,2.245-2.238c0.841-1.01-0.104-1.592-0.584-1.577l-5.624,0.002c-0.297,0-0.54-0.002-0.54-0.002   s-0.245,0-0.543,0H5.551c-0.298,0-0.54,0.242-0.541,0.541v7.732C4.977,27.812,5.753,28.498,6.555,27.709z" fill="#3a57e8"/>
											</g>
										</svg>
									</li>
								{% endif %}
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" role="button" aria-controls="offcanvasExample">
										<svg width="24" viewbox="0 0 24 24" class="icon-24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20.8064 7.62361L20.184 6.54352C19.6574 5.6296 18.4905 5.31432 17.5753 5.83872V5.83872C17.1397 6.09534 16.6198 6.16815 16.1305 6.04109C15.6411 5.91402 15.2224 5.59752 14.9666 5.16137C14.8021 4.88415 14.7137 4.56839 14.7103 4.24604V4.24604C14.7251 3.72922 14.5302 3.2284 14.1698 2.85767C13.8094 2.48694 13.3143 2.27786 12.7973 2.27808H11.5433C11.0367 2.27807 10.5511 2.47991 10.1938 2.83895C9.83644 3.19798 9.63693 3.68459 9.63937 4.19112V4.19112C9.62435 5.23693 8.77224 6.07681 7.72632 6.0767C7.40397 6.07336 7.08821 5.98494 6.81099 5.82041V5.82041C5.89582 5.29601 4.72887 5.61129 4.20229 6.52522L3.5341 7.62361C3.00817 8.53639 3.31916 9.70261 4.22975 10.2323V10.2323C4.82166 10.574 5.18629 11.2056 5.18629 11.8891C5.18629 12.5725 4.82166 13.2041 4.22975 13.5458V13.5458C3.32031 14.0719 3.00898 15.2353 3.5341 16.1454V16.1454L4.16568 17.2346C4.4124 17.6798 4.82636 18.0083 5.31595 18.1474C5.80554 18.2866 6.3304 18.2249 6.77438 17.976V17.976C7.21084 17.7213 7.73094 17.6516 8.2191 17.7822C8.70725 17.9128 9.12299 18.233 9.37392 18.6717C9.53845 18.9489 9.62686 19.2646 9.63021 19.587V19.587C9.63021 20.6435 10.4867 21.5 11.5433 21.5H12.7973C13.8502 21.5001 14.7053 20.6491 14.7103 19.5962V19.5962C14.7079 19.088 14.9086 18.6 15.2679 18.2407C15.6272 17.8814 16.1152 17.6807 16.6233 17.6831C16.9449 17.6917 17.2594 17.7798 17.5387 17.9394V17.9394C18.4515 18.4653 19.6177 18.1544 20.1474 17.2438V17.2438L20.8064 16.1454C21.0615 15.7075 21.1315 15.186 21.001 14.6964C20.8704 14.2067 20.55 13.7894 20.1108 13.5367V13.5367C19.6715 13.284 19.3511 12.8666 19.2206 12.3769C19.09 11.8873 19.16 11.3658 19.4151 10.928C19.581 10.6383 19.8211 10.3982 20.1108 10.2323V10.2323C21.0159 9.70289 21.3262 8.54349 20.8064 7.63277V7.63277V7.62361Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
											<circle cx="12.1747" cy="11.8891" r="2.63616" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
										</svg>
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#locale-selector-modal" role="button" id="locales">
										<i class="fa fa-solid fa-globe" aria-hidden="true"></i>
										<span class="caret"></span>
										<span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="py-0 nav-link d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										{% set avatar = (user.getImageUrl() is not null and user.getImageUrl() != "") ? user.getImageUrl() : asset('images/avatars/01.png') %}
										<img src="{{ avatar }}" alt="User-Profile" class="theme-color-default-img img-fluid avatar avatar-50 avatar-rounded">
										<div class="caption ms-3 d-none d-md-block ">
											{% set username = (user.getDiscordUsername() is not null and user.getDiscordUsername() != "") ? user.getDiscordUsername() : "Anonymous" %}
											<h6 class="mb-0 caption-title">{{ username }}</h6>
											<p class="mb-0 caption-sub-title">
												{% if is_granted('ROLE_MEMBER') %}
													Member
												{% elseif is_granted('ROLE_ADMIN') %}
													Admin
												{% else %}
													Guest
												{% endif %}
											</p>
										</div>
									</a>
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item {{ (model is defined and model == 'profile' and action == 'overview') ? 'active' }}">Profile</a>
										</li>
										<li>
											<a class="dropdown-item {{ (model is defined and model == 'profile' and action == 'settings') ? 'active' }}">Settings</a>
										</li>
										{% if user.getLicenseKey() is not null %}
											<li>
												<a class="dropdown-item" href="/?model=viagogo&action=login">Viagogo Connection</a>
											</li>
										{% endif %}
										{% if user.getWhopManageUrl() is not null %}
											<li>
												<a class="dropdown-item" target="_blank" href="{{ user.getWhopManageUrl() }}">Manage Membership</a>
											</li>
										{% endif %}
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- Toast Will Appear Here -->
				<div class="toast-container position-absolute top-0 end-0 p-3">
					<div id="toastMessage" class="toast align-items-center text-white border-0 {{ toastClass }}" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header">
							<strong class="me-auto">{{ toastTitle }}</strong>
							<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
						<div class="toast-body">
							{{ toastBody }}
						</div>
					</div>
				</div>

				<div class="iq-navbar-header" style="{{ (displayBanner is defined and displayBanner) ? '' : 'display: none;' }}">
					<div class="container-fluid iq-container">
						<div class="row">
							<div class="flex-wrap d-flex justify-content-between">
								<div class="col-md-8">
									<h1 id="bannerTitle">{{ bannerTitle|trans|raw }}</h1>
									<p id="bannerSubtitle">{{ bannerSubtitle|trans|raw }}</p>
								</div>
								<div id="bannerBtn" class="col-md-4" style="{{ (displayBannerBtn is defined and displayBannerBtn) ? '' : 'display: none;' }}">
									<a id="{{ bannerBtnId }}" href="{{ bannerBtnAction }}" target="{{ bannerBtnTarget }}" class="btn btn-link btn-soft-light">
										{{ bannerBtnIcon|raw }}&nbsp;
										{{ bannerBtnText|trans|raw }}
									</a>
									<div id="activateMembershipWrapper" class="row row-cols-1 text-center" style="display:none;">
										<div class="row">
											<div class="card">
												<div class="card-body">
													<div class="user-post-data">
														<div class="d-flex flex-wrap">
															<div class="media-support-user-img me-3">
																<img class="rounded-circle p-1 bg-soft-danger img-fluid avatar-60" src="{{ asset('images/mindsolutions/logo.svg') }}" alt="">
															</div>
															<div class="media-support-info mt-2" style="color:#6f63cf;">
																<h5 class="mb-0 d-inline-block">Claim Access Now</h5>
															</div>
														</div>
													</div>
													<div class="mt-3" style="color: rgb(138, 146, 166);">
														<p>You are just one step away from having full access to our solutions.</p>
													</div>
													<div class="comment-area mt-3">
														<a href="https://whop.com/oauth?client_id={{ whopClientId }}&redirect_uri={{ whopRedirectUri }}">
															<button class="btn btn-warning rounded-pill mt-3 w-100">Login with Whop</button>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="iq-header-img">
						<img src="{{ asset('images/dashboard/top-header.png') }}" alt="header" class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
						<img src="{{ asset('images/dashboard/top-header1.png') }}" alt="header" class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX">
						<img src="{{ asset('images/dashboard/top-header2.png') }}" alt="header" class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX">
						<img src="{{ asset('images/dashboard/top-header3.png') }}" alt="header" class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX">
						<img src="{{ asset('images/dashboard/top-header4.png') }}" alt="header" class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX">
						<img src="{{ asset('images/dashboard/top-header5.png') }}" alt="header" class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX">
					</div>
				</div>
			</div>
			<div class="wrapper">
				{% for message in app.flashes('notice') %}
					<div class="alert alert-warning">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.flashes('error') %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endfor %}
				{% block content %}{% endblock %}
			</div>

			<!-- Footer Section Start -->
			{% include 'footer.html.twig' %}
			<!-- Footer Section End -->
		</main>
		<!-- Wrapper End-->
		<!-- offcanvas start -->
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" data-bs-scroll="true" data-bs-backdrop="true" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<div class="d-flex align-items-center">
					<h3 class="offcanvas-title me-3" id="offcanvasExampleLabel">UI Settings</h3>
				</div>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body data-scrollbar">
				<div class="row">
					<div class="col-lg-12">
						<h5 class="mb-3">Scheme</h5>
						<div class="d-grid gap-3 grid-cols-3 mb-4">
							<div class="btn btn-border" data-setting="color-mode" data-name="color" data-value="auto">
								<svg class="icon-20" width="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill="currentColor" d="M7,2V13H10V22L17,10H13L17,2H7Z"/>
								</svg>
								<span class="ms-2 ">
									Auto
								</span>
							</div>

							<div class="btn btn-border" data-setting="color-mode" data-name="color" data-value="dark">
								<svg class="icon-20" width="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill="currentColor" d="M9,2C7.95,2 6.95,2.16 6,2.46C10.06,3.73 13,7.5 13,12C13,16.5 10.06,20.27 6,21.54C6.95,21.84 7.95,22 9,22A10,10 0 0,0 19,12A10,10 0 0,0 9,2Z"/>
								</svg>
								<span class="ms-2 ">
									Dark
								</span>
							</div>
							<div class="btn btn-border active" data-setting="color-mode" data-name="color" data-value="light">
								<svg class="icon-20" width="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill="currentColor" d="M12,8A4,4 0 0,0 8,12A4,4 0 0,0 12,16A4,4 0 0,0 16,12A4,4 0 0,0 12,8M12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31L23.31,12L20,8.69Z"/>
								</svg>
								<span class="ms-2 ">
									Light</span>
							</div>
						</div>
						<hr class="hr-horizontal">
					</div>
				</div>
			</div>
		</div>

		<div id="locale-selector-modal" class="modal" tabindex="-1" aria-hidden="true">
			<div class="modal-lg modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Choose your language</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body">
						<div class="col-md-6" style="margin: 0 auto;">
							<ul class="locales">
								{% for locale in locales() %}
									{% set is_active = app.request.locale == locale.code %}
									{% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
									<li class="{{ is_active ? 'active' }} {{ is_rtl ? 'rtl' }}" translate="no">
										<a class="stretched-link" lang="{{ locale.code }}" hreflang="{{ locale.code }}" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
											{{ locale.name|capitalize }}
											<small>{{ locale.code }}</small>
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- bottom right toast (js-triggered only)-->
		<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
			<div id="bottomToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<strong class="me-auto" name="title"></strong>
					<small name="time"></small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body"></div>
			</div>
		</div>

		<div id="overlay" class="overlay" style="display: none;">
			<div class="overlay__inner">
				<div class="overlay__content">
					<span class="spinner"></span>
				</div>
			</div>
		</div>

		<div id="preloader" class="preloader" style="display: none;">
			<div class="preloader-inner">
				<div class="card-body">
					<ul id="top-tab-list" class="p-0 list-inline d-flex justify-content-center" style="margin-bottom: 0;">
						<li id="viagogoSyncStep" class="mb-2 col-lg-12 col-md-12 text-start active d-flex justify-content-center">
							<a href="javascript:void();">
								<div class="iq-icon">
									<img class="text-primary icon-30" src="{{ asset('images/mindsolutions/logo.svg') }}" alt="">
								</div>
								<svg id="icon" viewbox="0 0 32 32" width="34" xmlns="http://www.w3.org/2000/svg" style="fill: #fff;">
									<defs>
										<style>
											.cls-1 {
												fill: none;
											}
										</style>
									</defs>
									<title/>
									<polygon points="11.41 26.59 7.83 23 28 23 28 21 7.83 21 11.41 17.41 10 16 4 22 10 28 11.41 26.59"/>
									<polygon points="28 10 22 4 20.59 5.41 24.17 9 4 9 4 11 24.17 11 20.59 14.59 22 16 28 10"/>
									<rect class="cls-1" data-name="<Transparent Rectangle>" height="32" id="_Transparent_Rectangle_" transform="translate(32) rotate(90)" width="32"/>
								</svg>
								<div class="iq-icon" style="background: none;">
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 90 90">
										<g fill="none" fill-rule="evenodd">
											<path fill="#6FB129" fill-rule="nonzero" d="M0 0h90v90H0z"/>
											<path d="M72 26a1 1 0 0 1 1 1v12a6 6 0 1 0 0 12v12a1 1 0 0 1-1 1H18a1 1 0 0 1-1-1V51a6 6 0 1 0 0-12V27a1 1 0 0 1 1-1h54Zm-32.251 7.5H33.25l8.5 23h6.5l8.5-23h-6.499L45 47.708 39.749 33.5Z" fill="#FFF"/>
										</g>
									</svg>
								</div>
							</a>
						</li>
					</ul>
					<hr>
					<div class="card-footer">
						<span class="spinner" style="width: 45px; height: 45px;"></span>
						<hr>
						<p class="title">Syncing with your Viagogo account...</p>
						<p class="subtitle">Don't refresh this page</p>
					</div>
				</div>
			</div>
		</div>

		<div id="loadingPreloader" class="preloader" style="display: none;">
			<div class="preloader-inner">
				<div class="card-body p-20">
					<span class="spinner" style="width: 45px; height: 45px;"></span>
					<hr>
					<p class="title">Loading...</p>
					<p class="subtitle"></p>
				</div>
			</div>
		</div>

		{% block javascript %}

			<!-- Library Bundle Script -->
			<script src="{{ asset('js/core/libs.min.js') }}"></script>

			<!-- External Library Bundle Script -->
			<script src="{{ asset('js/core/external.min.js') }}"></script>

			<!-- Widgetchart Script -->
			<script src="{{ asset('js/charts/widgetcharts.js') }}"></script>

			<!-- mapchart Script -->
			<script src="{{ asset('js/charts/vectore-chart.js') }}"></script>
			<script src="{{ asset('js/charts/dashboard.js') }}"></script>

			<!-- fslightbox Script -->
			<script src="{{ asset('js/plugins/fslightbox.js') }}"></script>

			<!-- Settings Script -->
			<script src="{{ asset('js/plugins/setting.js') }}"></script>

			<!-- Slider-tab Script -->
			<script src="{{ asset('js/plugins/slider-tabs.js') }}"></script>

			<!-- Form Wizard Script -->
			<script src="{{ asset('js/plugins/form-wizard.js') }}"></script>

			<!-- AOS Animation Plugin-->
			<script src="{{ asset('vendor/aos/dist/aos.js') }}"></script>

			<!-- App Script -->
			<script src="{{ asset('js/hope-ui.js') }}" defer></script>

			<!-- Fullcalendar Javascript -->
			<script src="{{ asset('vendor/fullcalendar/core/main.js') }}"></script>
			<script src="{{ asset('vendor/fullcalendar/daygrid/main.js') }}"></script>
			<script src="{{ asset('vendor/fullcalendar/timegrid/main.js') }}"></script>
			<script src="{{ asset('vendor/fullcalendar/list/main.js') }}"></script>
			<script src="{{ asset('vendor/fullcalendar/interaction/main.js') }}"></script>
			<script src="{{ asset('vendor/moment.min.js') }}"></script>
			<script src="{{ asset('js/plugins/calendar.js') }}"></script>

		{% endblock %}
	</body>
</html>
